body{
    background: linear-gradient(to bottom, red 50%, blue 50%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    display: flex;
    width: 250px;
    background-color: yellow;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.calc .display input[type='text']{
    text-align: right;
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 20px;
    flex-wrap: wrap;
}
.calc .display input::placeholder{
    font-size: 30px;
    color: black;
    opacity: 50%;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.buttons input[type='button']{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 21px;
}
.buttons input[type='button']:hover{
    box-shadow: 0 8px 25px #000d2e;
}
.buttons input[type='button'][value='=']{
    height: 100px;
    background-color: rgb(27, 72, 111);
}
.buttons input[type='button'][value='0']{
    width: 100px;
    background-color: rgb(27, 72, 111);
}